*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  color: #404040;
  background: white;
  font-size: 1rem;
}

/* Common */
.text-center {
  text-align: center;
}

/* Container */
.container {
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Flex */
.flex-large {
  flex-basis: 100%;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  margin-left: -1rem;
  margin-right: -1rem;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 0.5rem;
}

/* Others */
h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

button,
input {
  display: block;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

label {
  display: block;
  max-width: 100%;
  margin: 1rem 0 0.5rem;
  font-weight: 600;
}

/*==========================================================================*/
.form-input {
  height: 2.75rem;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  padding: 0.5rem 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.form-btn,
.table-btn {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  line-height: 1;
}

.form-btn + .form-btn {
  margin: 0.5rem;
}

.table-btn + .table-btn {
  margin: 0.25rem 0.5rem;
}

.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.search-form {
  position: relative;
  margin-top: 3rem;
}

.search-form:before {
  content: "";
  display: block;
  background-color: #dedede;
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 90%;
}

.search-selector {
  min-width: 120px;
  margin-bottom: 1rem;
  padding: 0.3rem;
  font-size: 0.9rem;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  height: 2rem;

  /* appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; */
}
